---
import MainWebLayout from '../../layouts/MainWebLayout.astro';
import MarkdownContent from '../../content/legal/returns-and-refunds-policy.md';
---

<MainWebLayout title="Privacy Policy">
  <div class="prose pt-8 mx-auto p-4">
    <MarkdownContent />
  </div>
</MainWebLayout>