---
import MainWebLayout from '../../layouts/MainWebLayout.astro';
import MarkdownContent from '../../content/legal/terms-and-conditions.md';
---

<MainWebLayout title="Privacy Policy">
  <div class="prose pt-8 mx-auto p-4">
    <MarkdownContent />
  </div>
</MainWebLayout>